body{
    background-color: white;

}
header{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    background: black;
}

header .YangYang a{
    justify-content: left;
    display: inline-block;
    float: left;
}

header nav{
    display: flex;
}

nav ul li{
    list-style: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 0 15px;
}

nav ul li a:hover{
    color: #ed4b2f;
}







